/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 App.css */
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --naranja-brillante: #ff6a00; /* Ajusta este color a tu preferencia */
  --gris-oscuro: #2c2c2c;
}

body {
  background-color: var(--gris-oscuro);
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.containerTitulo {
  display: grid;
  place-items: center; /* Centrar horizontal y verticalmente */
}

button {
  background-color: var(--naranja-brillante);
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

button:hover {
  background-color: #e65a00;
}

/* Agregar estilos adicionales para otros elementos */
.npo-list {
  list-style-type: none;
  padding: 0;
}

.npo-item {
  background-color: #3b3b3b;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

/* Estilos para el overlay y la imagen a pantalla completa */
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

/* Image */
.image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Delete Button */
.delete-button {
  margin-left: 0px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #a72e2e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  animation: fadeIn 1s ease-in-out;
  color: var(--naranja-brillante);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border: 3px solid var(--naranja-brillante);
  border-radius: 8px;
  display: inline-block;

  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;  
}
